.card-focus{
}

.card-focus-window {
    width: 60vh;
    height: 60vh;
    z-index: 2;
    border-radius: 1em;
    background-color: #313131;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)), url('/src/assets/backgrounds/basic.png');
    border-color: #000000;
    border-width: 0.5em;
    border-style: solid;
    margin:0.25em;
    position: fixed;
    top: 20%;
    left: 32.5%;
    width: 35%;
    height: 60%;
    margin: 0;
    padding: 0;
    filter: drop-shadow(1em 1em 2em rgba(0, 0, 0, 0.8));
    
}

.card-focus-window p {
    margin: 0;
    padding: 0;
    width: 90%;
    padding-left: 5%;
    font-family: "pixel";
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.8));
}

.focus-card-image {
    width: 30%;
    margin: 0.5em;
    padding: 0.25;
    margin-top: 1em;
}

.close {
    position: fixed;
    top: 5%;
    right: 5%;
}
